<div data-role="view" data-title="Details" data-model="app.coffeeShops.coffeeShopsModel" data-bind="events: { show: detailsShow }" id="coffeeShopsModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['Name']"></span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
            <a data-role="button" class="nav-button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i></a>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <h3 data-bind="text: currentItem.Address"></h3></li>


                <li class="detail-content-item">

                    <div class="editableListItem">

                        <div>Open Now:</div>
                        <div data-bind="html: currentItem.OpenClosedNow"></div>
                    </div>

                </li>
                <li class="detail-content-item">

                    <div class="imageListItem">

                        <div>Image</div>

                        <div class="align-left">


                            <img src="resources/download.jpg">


                        </div>
                    </div>

                </li>
                <li class="detail-content-item">
                    <div name="coffeeDrinks"><span>Coffee Drinks</span>
                        <ul class="dataListField">
                            <li>
                                <ul data-bind="source: currentItem.Drinks" data-template="coffeeDrinks_Drinks"></ul>
                                <script id="coffeeDrinks_Drinks" type="text/x-kendo-template">
                                    <li><span data-bind="text: Drink"></span></li>
                                </script>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_coffeeShopsModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_coffeeShopsModel -->
</div>