<div data-role="view" data-title="Edit" data-model="app.coffeeShops.editItemViewModel" data-bind="events: { show: onShow }" class="edit-item-view" id="coffeeShopsModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: itemData['Name']"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_coffeeShopsModel -->
    <!-- END_CUSTOM_CODE_coffeeShopsModel -->
    <div id="editableListForm70" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label>

                        <span>Shop Name</span>

                        <input id="shopName" data-bind="value: editFormData.shopName" placeholder="Shop name ..." type="text">

                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Shop address</span>

                        <input id="shopAddresses" data-bind="value: editFormData.shopAddresses" placeholder="Shop address ..." type="text">

                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Open Now</span>

                        <input id="openNowOrClosed" data-bind="checked: editFormData.openNowOrClosed" type="checkbox">

                    </label>

                </li>
                <li class="form-content-item multiple-select-item">
                    <script id="coDrinksTemplate" type="text/x-kendo-template">
                        <div class="multiple-select-item">

                            <label class="km-listview-label">
                                <input name="coDrinks" class="km-icon km-check" type="checkbox" data-bind="value: Id, checked: coDrinksCache, namePrefixedId: Id" />

                                <span data-bind="text: Drink"></span>

                            </label>
                        </div>
                    </script>
                    <div class="editableListItem">

                        <div>Coffee Drinks</div>


                        <div>
                            <div class="multiple-select-list" data-bind="text: coDrinksSelected, visible: coDrinksSelected.length"></div>
                            <a href="#coDrinksMultipleSelect" data-rel="modalview" class="link" data-role="button">select...</a>

                            <div id="coDrinksMultipleSelect" class="multiple-select-modal-window" data-role="modalview" data-bind="events: { open: onDrinksSelectOpen }" data-field-id="coDrinks">


                                <div class="multiple-select-item-content" data-bind="source: coffeeDrinksDataSource" data-template="coDrinksTemplate"></div>


                                <div class="multiple-select-item-buttons">
                                    <a class="link" data-bind="events: { click: onDrinksSelectCancel }">CANCEL</a>
                                    <a class="link" data-bind="events: { click: onDrinksSelectDone }">DONE</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm70 -->
        <!-- END_CUSTOM_CODE_editableListForm70 -->
    </div>
</div>